@using Urgentcargus.Models
@model IEnumerable<EmployeeDepartmentViewModel>

@foreach (var item in Model)
{
    <tr>
        <td width="20%">
            @item.FirstName
        </td>
        <td width="20%">
            @item.LastName
        </td>
        <td>
            @item.DepartmentName
        </td>
    </tr>
}