body {
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table tbody, table tbody th, table tbody td {
        border: 1px solid black;
    }

input[type="search"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

    input[type="search"]:focus {
        outline: none;
    }

#addDiv > div {
    float: left;
    padding-left: 10px;
}

label.error {
    color: #a94442;
    display: block;
    text-align: right;
}
